/* Nav stylest*/
.nav_content{
    margin-right: 12%;
}

.navDrop_logo{
    width: 15%;
}
nav{
    padding: 1rem 0!important;
}

.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.archware-nav-title{
    color: #5A5E76!important;
    font-style: normal;
    font-weight: 505!important;
    font-size: 1rem;
    line-height: 22px;
    position: relative;
}
.archware-nav-title-drop{
    font-size: .83rem!important;
}


.navbar-trigger{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.17);
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.1s;
}

/* Nav Dropdown styles */
.dropdown-style li a {
    font-weight: 300;
    color: #1F3F95;
    font-size: .87rem;
}
.hamburger-mobile{
    display: none;
}

.nav > .nav-links > ul li a {
    display: block;
    padding: 0 8px;
    color: #1f3f95;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    scroll-behavior: smooth;
}

.nav > #nav-check {
    display: none;
}
ul li a:nth-child(2) {
    display: none;
}

.nav .nav-links ul a i {
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
}

.e-drop-nav{
    cursor: pointer;
}

.greetings{
    font-size: .775rem;
    font-weight: 600;
    margin-left: -1em;
}

@media (max-width: 1200px) {
   
}
/* RESPONSIVE STYLES */
@media(max-width: 990px){
    .hamburger-mobile{
        display: block;
    }
    .hamburger-desktop{
        display: none;
    }
    .right-btn-container{
        /* margin-left: -17%!important; */
    }
    .nav-links-a{
        margin-left: 0!important;
    }
    .colored-logo, .light-logo{
        margin-left: 0!important;
        width: 40%;
    }
    .right-nav{
        margin-left: 0;
    }
    .button-wrapper{
        margin-left: 1rem;
        margin-top: 1rem;
    }
    nav{
        background: #FFFFFF;
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05); */
        /* transition: all 0.1s; */
    }
    .e-drop-nav{
        margin-left: 1rem!important;
        margin-top: .5rem!important;
    }
}

@media(max-width: 414px){
    .dropdown-style{
        width: 100%!important;
    }
    .hamburger-mobile{
        display: block;
        margin-right: 3%!important;
    }
    .colored-logo{
        margin-left: 0!important;
    }

.right-nav{
    margin-left: 0;
}

}

/* Large screen size responsive style */
@media screen and (min-width: 1600px){
    .right-nav{
        margin-left: 35%;
    }
}
