/* Nav stylest*/
.nav_content{
    margin-right: 12%;
}

.navDrop_logo{
    width: 15%;
}
nav{
    padding: 1rem 0!important;
}

.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

